# Virtual Environment
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Package build artifacts
build/
dist/
*.egg-info/

# Operating System & IDE files
.DS_Store
.vscode/
.idea/

# Benchmark output files (raw cache sqlite or temp files)
.cache/
*.db
